@charset "UTF-8";

.attention {
margin:2em 0;
padding:0.5em 1.5em;
border:1px solid #b35454;
color:#800;
background-color:#fce9e9;
font-size:80%; }

.attention dl {
line-height:1.5;}

.attention dt {
width:4em;
float:left;
clear:left;
font-weight:normal; }

.attention dd {
display:block;}


.note {
margin:1em 0;
padding:0.5em 1.5em;
border:1px solid #b35454;
color:#800;
background-color:#fce9e9;
font-size:80%; }

span.note {
margin:0;
padding:0.2em; }
